menuconfig ARCH_ARMEMULATOR
	bool "ARM Emulator"
	depends on ARCH_MULTI_V4T
	select CPU_ARM920T
	select GENERIC_IRQ_MULTI_HANDLER
	
	select CLKSRC_MMIO
	select GENERIC_CLOCKEVENTS
	select USE_OF
	help
	  Support for ARM emulator processors.

